<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Account Updated</h1>
    <p>
      Your Account has been updated.

      <%= @user.name %>
      <%= @user.email %>
      <%= @user.street1 %>
      <%= @user.street2 %>
      <%= @user.city %>, <%= user.state %> <%= user.zip %>

      Using card ending with: <%=user.last_4_digits %>
    </p>
    <p>
      If you believe this was done in error, please email <a href="mailto:conceirge@toiletpapersociety.com">conceirge@toiletpapersociety.com</a>
    </p>
  </body>
</html>