<div class="panel panel-default">
  <div class="panel-body">
<fieldset>
      <%= form_for user, :html => {:class => 'form-stacked'} do |f| %>
        <% if user.errors.any? %>
          <div class="alert-message block-message error">
            <p><%= "#{pluralize(user.errors.count, "problem")} with your registration:" %></p>
            <div class="errors">
              <% user.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="form-group col-md-6">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, :class => "field", class: "form-control" %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :email %>
          <div class="input">
            <%= f.text_field :email, :class => "field", class: "form-control" %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password, :class => "field", class: "form-control" %>
            <% if defined? editing %>
              <span class="help-block">Leave blank to keep your current password</span>
            <% end %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation, :class => "field", class: "form-control" %>
          </div>

          <%= f.hidden_field :stripe_token %>
          <%= f.hidden_field :last_4_digits %>
        </div>

        <% if user.last_4_digits %>
          <div id="change-card" class="clearfix">
            <label>Card</label>
            <div class="input">
              <span>
                Using card ending with 
                <%= user.last_4_digits %> 
                <%= link_to "(change)", "#" %>
              </span>
            </div>
          </div>
        <% end %>

        <noscript>
          <p>This form requires Javascript to use</p>
        </noscript>

        <div id="credit-card" style="<%= user.last_4_digits ? "display:none" : "display:block" %>">
          <div id="credit-card-errors" style="display:none">
            <div id="stripe-error-message" class="alert-message block-message error">
            </div>
          </div>

          <!-- these fields are disabled before submission and are never transmitted back to rails -->
          <div class="form-group col-md-6">
            <span class="glyphicon glyphicon-lock"></span> <%= label_tag :credit_card_number, "Credit Card Number" %>
              <%= text_field_tag :credit_card_number, params[:credit_card_number], :class => "field form-control ccn", :disabled => true %>
          </div>
          <div class="form-group col-md-3">
            <%= label_tag :cvv, "Security code (CVV)" %>  
            <%= text_field_tag :cvv, params[:cvv], :class => "field form-control cvv", :disabled => true %>
          </div>

          <div class="form-group col-md-3">
            <%= label_tag :expiry_date, "Expiration Date" %>
            <div class="input">
              <%= date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25, :disabled => true}, {:class => "small"} %>
            </div>
            <!-- empty -->
          </div>
          </div>
          <div class="note">
            Your credit card details will be sent directly to our payment processor
          </div>


        <div class="actions">
          <%= f.submit((defined?(editing) ? "Update" : "Register"), :class => "btn primary") %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>