<% if current_user %>
	<div class="container top-down">
		<div class="page-header center">
		  <% if current_user.subscribed == true %>
		  	<h1>You're In!</h1>
		  	<p>It's good to be in the Society.</p>
		  	<p>Toilet Paper is shipped around the 15th of each month, so check your mailbox and <strong>Happy Wiping!</strong></p>
		  <% else %>
		  	<h1>It seems you aren't an active member.</h1>
		  	<p>Re-activate Your Membership</p>
		  <% end %>
		</div>
		  <div class="col-md-8">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h2>Member Information</h2>
		  		</div>
		  		<div class="panel-body">
		  				<p><strong><%= current_user.name %></strong><br />
		  				<%= current_user.email %></p>
		  				<p><strong>Shipping Address</strong><br />
		  				<%= current_user.street1 %> <%= current_user.street2 %><br />		  				
						<%= current_user.city %>, <%= current_user.state %> <%= current_user.zip %></p>
						<%= link_to "Edit this information", edit_profile_path %>
		  		</div>
		  	</div>
		  </div>
		  <div class="col-md-4">
		  <ul class="member-buttons">
		  	<li><%= link_to "Manage Profile", edit_profile_path, class: "btn btn-danger btn-block btn-lg" %></li>
		  	<li><%= link_to "Invite Friends on Facebook", "#", class: "btn btn-primary btn-block btn-lg" %></li>
		  	<li><%= link_to "Invite your Twitter Followers", "#", class: "btn btn-primary btn-block btn-lg" %></li>
		  </ul>
		  </div>
	</div>
		<%= render 'layouts/footer'%>
		<% else %>
		<%= render 'layouts/home'%>
<% end %>
		