<div class="container top-down">
  <div class="page-header center">
    <h1>All Open Orders</h1><br />
      <div class="left col-md-4">
        <%= link_to "<< View All Orders", orders_path, class: "btn btn-primary" %>
      </div>
      <div class="right">
        <%= link_to "Export Open Orders (CSV)", open_orders_path(format: "csv"), class: "btn btn-warning" %>
        <%= link_to "Mark All Orders As Shipped", ship_all_path, class: "btn btn-success", :confirm => "MAKE SURE YOU HAVE EXPORTED A CSV FIRST! Are You Sure you want to mark all orders as shipped? This cannot be undone." %>
      </div>
  </div>

  <% @orders.each do |order| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-2">
            <strong>Order ID: <%= order.id %></strong><br /><br />
            <% if order.status == "Order Placed" %>
              <span style="background: #c0392b; padding: 3px 5px; color: #ffffff;"><%= order.status %></span>
            <% else %>
              <span style="background: #2ecc71; padding: 3px 5px;"><%= order.status %></span>
            <% end %>
          </div>
          <div class="col-md-3">
            <strong><%= order.user.name if order.user %></strong><br />
            <%= order.user.email if order.user %><br />
            <%= order.user.stripe_id if order.user %>
          </div>
          <div class="col-md-3">
            <strong>Shipping Address </strong><br />
            <%= order.user.street1 if order.user %><br />
            <%= order.user.street2  if order.user %><br />
            <%= order.user.city if order.user %>, <%= order.user.state if order.user %> <%= order.user.zip if order.user %>
          </div>
          <div class="col-md-2">
            <strong>Order Placed On:</strong><br />
            <%= order.created_at %>
          </div>
          <div class="col-md-2 right">
            <% if order.status == "Order Placed" %>
              <br /><%= link_to "Ship Order", ship_order_path(order), class: "btn btn-success" %>
            <% else %>
              <br /><%= link_to "Un-Ship Order", unship_order_path(order), class: "btn btn-danger" %>
            <% end %>
          </div>

      </div>
    </div>

  <% end %>

</div>