<div class="container top-down">
	<div class="page-header center">
		<h1>Wipe Away Hunger</h1>
		<p>Helping Those In Need</p>
	</div>
	<div class="row bottomed">
		<div class="col-md-7">
			<h4>We're Giving Back in the form of Toilet Paper!</h4>
			<br />
			<p>Every time we ship an order, we donate one roll of toilet paper to those in need.</p>

			<p>When you join Toilet Paper Society, you not only quit running out of toilet paper yourself, but you help someone in need with their daily toiletry needs.</p>

			<p>Help us help others through our partnership with Feeding America<sup>&reg;</sup>.</p><br />
			<% if current_user %>
				<%= link_to "Join Now", clubhouse_path, class: "btn btn-lg btn-primary" %>
			<% else %>
				<%= link_to "Join Now", register_path, class: "btn btn-lg btn-primary" %>
			<% end %>
		</div>
		<div class="col-md-5">
			<%= image_tag "fa-color.png" %>
		</div>
	</div>
</div>

	<div class="gray about-feeding">
		<div class="container">
			<div class="col-md-5">
				<ul class="list-group center">
					<li class="list-group-item theirs"><h5>Quick Facts</h5></li>
					<li class="list-group-item">More than 49 million Americans, including 16 million children, are 							struggling with hunger.</li>
					<li class="list-group-item">37 million Americans receive food and groceries from Feeding America<sup>&reg;</sup> each year, including nearly 14 million children and 3 million seniors.</li>
					<li class="list-group-item">5.7 million Americans are fed by the Feeding America<sup>&reg;</sup> network every week.</li>
				</ul>
			</div>
			<div class="col-md-7">
				<h4>About Feeding America<sup>&reg;</sup></h4>
				<p>Feeding America<sup>&reg;</sup> is the nation’s leading domestic hunger-relief charity,
				with more than 200 member food banks serving all 50 states, the District of
				Columbia and Puerto Rico.</p>

				<p>Feeding America<sup>&reg;</sup> distributes donated food items that are nutritious and
				wholesome, as well as personal care items that cannot be purchased with
				SNAP benefits (formerly known as food stamps) such as shampoo, diapers,
				toothpaste and laundry detergent. More importantly, these donations can be
				critical when we assist our member food banks in times of disaster.</p>

				<p>Americans can help end hunger by donating, advocating and volunteering. To
				find out more about Feeding America<sup>&reg;</sup>, visit <%= link_to "www.feedingamerica.org", "http://feedingamerica.org" %>.</p>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>