<footer id="footer">
		<div class="container">
			<div class="col-md-4">
				<h5>Don't get caught with your pants down.</h5>
			<ul>
					<% if current_user %>
					<li><%= link_to "Account Settings", edit_profile_path %></li>
					<% else %>
					<li><%= link_to "Join Now", register_path %></li>
					<% end %>
					<li><%= link_to "How It Works", how_it_works_path %></li>
					<li><%= link_to "Privacy Policy", privacy_path, target: "_new" %></li>
					<li><%= link_to "Terms of Service", terms_path, target: "_new" %></li>
			</ul>	
			<small>&copy;2014 Toilet Paper Society. All Rights Reserved.</small></p>
			</div>
			<div class="col-md-4 center">
				<%= link_to image_tag("logo.png"), root_path %>
			</div>
			<% if current_user %>
			<% else %>
			<div class="col-md-4 join-footer">
				<%= link_to "Join The Society", register_path, class: "btn btn-lg btn-danger" %>
			</div>
			<% end %>
		</div>
</footer>