<div id="left-right">
	<div class="container marketing">
	<div class="row featurette">
		<div class="col-md-5 left-right-first">
			<%= image_tag "empty-roll.png", class: "empty-roll" %>
		</div>
		<div class="col-md-7">
			 <h4 class="first-text">Running out sucks.</h4>
			 <h5>
			 	We here at Toilet Paper Society are all about avoiding that awkward moment. Don't fall victim to the empty cardboard tube. <%= link_to "Become a member today", register_path %> and we'll deliver toilet paper to you every month. 
			 </h5>
			</div>
	</div>
	</div>
	<div class="grey-marketing">
	<div class="container">
	<div class="row featurette">
		<div class="col-md-7">
			<h4 class="second-text">Stay Stocked Up.</h4>
			<h5>
				When you're in the society, you'll get four rolls of top-quality TP deliverd to your door each and every month. Forget the hassle, just sit back, relax and happy wiping.
			</h5>
		</div>
		<div class="col-md-5">
			<%= image_tag "4-roll-home.png", class: "4-roll" %>
		</div>
	</div>
	</div>
	</div>
	<div class="container marketing">
	<div class="row featurette padding-bottom">
		<div class="col-md-5">
			<%= image_tag "feeding-america-red.png", class: "4-roll" %>
		</div>
		<div class="col-md-7">
			<h4>Wipe Away Hunger.</h4>
			<h5>
				For every shipment we send out, we donate a roll to our friends at Feeding America. Making a difference at home and for America's less fortunate. That's what The Society is all about.
			</h5>
		</div>
	
	<div class="row featurette">
		<div class="col-md-4 col-md-offset-4">
			<%= link_to "Join The Society", register_path, class: "btn btn-primary btn-block btn-lg left-right-join" %>
		</div>
	</div>
	</div>
	</div>
</div>